.container {
	position: relative;
	height: 100%;
	padding: var(--padding-md);
	min-width: 400px;

	background: #fbfbfb;
}

.card {
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: var(--padding-md);
}

.top {
	display: flex;
	gap: var(--padding-md);
}

.bottom {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.qr {
}

.details {
	> div {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		> span:first-child {
			opacity: 0.5;
		}
	}
}

.signDetails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	> div {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		> span:first-child {
			opacity: 0.5;
		}
	}
}

.detailsException {
	flex-direction: row !important;
	align-items: center;
}

.detailsException2 {
	flex-direction: row !important;
	justify-content: space-between;
	width: 100%;
	
	gap: 1em;
}

.buy, .sell {
	margin-right: 10px;
	padding: 4px 8px;
	border-radius: 10px;

	opacity: 1 !important;
	color: white !important;
	font-size: smaller;
	font-weight: bold;
	transform: translateY(1px);
}

.buy {
	background: #29db29;
}
.sell {
	background: #d93d3d;
}

@media screen and (max-width: 768px) {
	.container {
		min-width: 100%;
		font-size: smaller;
	}
}