.nav {
	display: flex;
	padding: var(--padding-sm);

	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--bd-color);
}

.brand {
	color: var(--ac-color);
}

@media screen and (max-width: 768px) {
	.nav > div {
		max-width: 40%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}	
}